.back-to-top-btn {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border: 2px solid var(--orange);
    border-radius: 50%;
    cursor: pointer;
    color: var(--orange);
    background-color: var(--darkgrey);
    z-index: 50;
}